* {
  background: #282c34;
}
body {
  padding: 50px;
}
.App {
  text-align: center;
}
h1 {
  margin-top: 100px;
  margin-bottom: 100px;
  color: white;
}
/* .start {
  width: 100px;
  height: 30px;
  color: white;
  background: blue;
}
.reset {
  width: 100px;
  height: 30px;
  color: black;
  background: white;
  margin-left: 50px;
} */

.animate {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button {
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  border-radius: 10px;
  font-family: "Pacifico", cursive;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.blue {
  background-color: #3498db;
  border-bottom: 5px solid #2980b9;
  text-shadow: 0px -2px #2980b9;
}

.red {
  background-color: #e74c3c;
  border-bottom: 5px solid #bd3e31;
  text-shadow: 0px -2px #bd3e31;
}

.green {
  background-color: #82bf56;
  border-bottom: 5px solid #669644;
  text-shadow: 0px -2px #669644;
}

.yellow {
  background-color: #f2cf66;
  border-bottom: 5px solid #d1b358;
  text-shadow: 0px -2px #d1b358;
}

.action-button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid;
}
